@font-face {
	font-family: 'futura01';
	src: url(Futura-Medium.ttf);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--shape-size: 200px;
}

.shape-container {
	height: var(--shape-size);
	width: var(--shape-size);
	background-color: tomato;
	position: relative;
	margin: calc(var(--shape-size) * 0.1);
}

.among-us {
	border-radius: calc(var(--shape-size) * 0.18);
	background-color: #fede2b;
	position: relative;
	overflow: hidden;
}

.a-us-body {
	height: 85%;
	width: calc(var(--shape-size) * 0.65);
	background-color: #880933;
	border-top-left-radius: 140%;
	border-top-right-radius: 140%;
	position: absolute;
	bottom: -5%;
	left: 45%;
	transform: translateX(-50%);
	border: calc(var(--shape-size) * 0.045) solid #000;
	border-bottom-color: #880933;
	z-index: 2;
}

.a-us-body::before {
	content: '';
	border-radius: 50%;
	background-color: #f21817;
	height: 95%;
	width: 98%;
	transform: rotate(10deg);
	position: absolute;
	left: -1%;
}

.a-us-body::after {
	content: '';
	height: 70%;
	width: 40%;
	background-image: radial-gradient(#880933 20%, #f21817 20%);
	background-size: 700% 400%;
	background-position: -65% 42%;
	border-top-right-radius: 40%;
	position: absolute;
	left: 100%;
	bottom: -5%;
	z-index: 1;
	border: calc(var(--shape-size) * 0.045) solid #000;
}

.face-shield {
	height: 35%;
	width: 55%;
	border-radius: 50%;
	background-color: lightblue;
	background-image: radial-gradient(
		#fff 0%,
		#fff 25%,
		#74dcf4 25%,
		#74dcf4 50%,
		#245784 50%,
		#245784 100%
	);
	background-size: 150% 150%;
	background-position: 80% 140%;
	position: absolute;
	z-index: 3;
	top: 33%;
	left: 3%;
	border: calc(var(--shape-size) * 0.045) solid #000;
}

.weather-app {
	border-radius: calc(var(--shape-size) * 0.18);
	background-image: linear-gradient(#2062ef, #25d0fd);
}

.cloud {
	--cloud-color: rgba(255, 255, 255, 0.9);
	--height: calc(var(--shape-size) * 0.5);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: var(--height);
	width: calc(var(--shape-size) * 0.4);
	border-top-right-radius: var(--height);
	border-top-left-radius: var(--height);
	background-color: var(--cloud-color);
	z-index: 2;
}

.cloud::before {
	--height: calc(var(--shape-size) * 0.28);
	content: '';
	height: var(--height);
	width: calc(var(--shape-size) * 0.2);
	background-color: var(--cloud-color);
	position: absolute;
	left: -50%;
	bottom: 0;
	border-top-left-radius: var(--height);
	border-bottom-left-radius: var(--height);
}

.cloud::after {
	--height: calc(var(--shape-size) * 0.32);
	content: '';
	height: var(--height);
	width: calc(var(--shape-size) * 0.2);
	background-color: var(--cloud-color);
	position: absolute;
	right: -50%;
	bottom: 0;
	border-top-right-radius: var(--height);
	border-bottom-right-radius: var(--height);
}

.sun {
	height: calc(var(--shape-size) * 0.4);
	width: calc(var(--shape-size) * 0.4);
	background-color: yellow;
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: 5%;
	z-index: 1;
}

.google-photos {
	background-color: #fff;
	border: calc(var(--shape-size) * 0.03) solid #ccc;
	border-radius: calc(var(--shape-size) * 0.15);
}

.half-circle {
	--height: calc(var(--shape-size) * 0.25);
	height: var(--height);
	width: calc(var(--shape-size) * 0.45);
	background-color: #33a854;
	border-radius: calc(var(--height) * 2) calc(var(--height) * 2) 0
		calc(var(--height) * 0.2);
	position: absolute;
}

.hc1 {
	top: 36.6%;
	left: 2%;
	transform: translateY(-50%);
	background-color: #f9ba06;
}

.hc2 {
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform-origin: center;
	transform: rotate(180deg);
	background-color: #4286f4;
}

.hc3 {
	transform-origin: center;
	transform: rotate(90deg);
	left: 39.6%;
	top: 13%;
	background-color: #ea4235;
}

.hc4 {
	transform-origin: center;
	transform: rotate(270deg);
	left: 12.6%;
	top: 60.8%;
}

.google {
	overflow: hidden;
	position: relative;
	border: calc(var(--shape-size) * 0.03) solid #ccc;
	border-radius: calc(var(--shape-size) * 0.15);
	background-color: #4286f4;
}

rect {
	position: absolute;
}

.rect-1 {
	height: calc(var(--shape-size) * 0.35);
	width: calc(var(--shape-size) * 1.1);
	position: absolute;
	left: -7%;
	transform-origin: center;
	transform: rotate(180deg);
	background-color: #ea4235;
}

.rect-2 {
	border-bottom: calc(var(--shape-size) * 0.4) solid #f9ba06;
	border-left: calc(var(--shape-size) * 0.15) solid transparent;
	border-right: calc(var(--shape-size) * 0.15) solid transparent;
	height: 0;
	width: calc(var(--shape-size) * 0.75);
	transform-origin: center;
	transform: rotate(90deg);
	top: 35%;
	position: absolute;
	left: -26%;
}

.rect-3 {
	border-bottom: calc(var(--shape-size) * 0.3) solid #33a854;
	border-left: calc(var(--shape-size) * 0.4) solid transparent;
	border-right: calc(var(--shape-size) * 0.35) solid transparent;
	height: 55%;
	width: calc(var(--shape-size) * 1);
	transform-origin: center;
	transform: rotate(0deg);
	top: 45%;
	position: absolute;
	left: -7%;
}

.google-g {
	height: 100%;
	width: 100%;
	background-image: radial-gradient(transparent 64%, white 64%);
	position: absolute;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.google-g > .g {
	height: 93%;
	width: 93%;
	border-radius: 50%;
	box-sizing: padding-box;
	border: calc(var(--shape-size) * 0.15) solid transparent;
	position: relative;
}

.google-g > .g::before {
	content: '';
	border: calc(var(--shape-size) * 0.6) solid transparent;
	border-top: calc(var(--shape-size) * 0.07) solid transparent;
	border-right-color: #fff;
	position: absolute;
	right: -96%;
	top: 25%;
	transform: rotate(-45deg);
}

.google-g > .g > .g1 {
	--radius: calc(var(--shape-size) * 0.8);
	height: 100%;
	width: 50%;
	background-color: #fff;
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	position: absolute;
	top: 50%;
	left: 24%;
	transform: translate(-50%, -50%);
}

.google-g > .g > .g1::after {
	content: '';
	--radius: calc(var(--shape-size) * 0.8);
	height: 100%;
	width: 100%;
	top: 0;
	left: calc(var(--shape-size) * 0.04);
	background-image: linear-gradient(
		#fff 50.5%,
		transparent 50.5%,
		transparent 74%,
		#fff 74%
	);
	position: absolute;
	left: 99%;
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.ppt {
	background-color: #fff;
	border-radius: calc(var(--shape-size) * 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ppt-circle {
	height: 0;
	width: 0;
	border-radius: 50%;
	border: calc(var(--shape-size) * 0.4) solid #d65234;
	border-right-color: #ff906e;
	border-top-color: #ef6d4b;
	transform: rotate(-45deg);
}

.ppt-p {
	position: absolute;
	z-index: 2;
	height: 45%;
	width: 45%;
	background-color: #c63f22;
	border-radius: calc(var(--shape-size) * 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: calc(var(--shape-size) * 0.4);
	box-shadow: calc(var(--shape-size) * 0.01) calc(var(--shape-size) * 0.02)
		calc(var(--shape-size) * 0.07) calc(var(--shape-size) * 0.02)
		rgba(0, 0, 0, 0.571);
	left: 0;
	font-family: sans-serif;
	font-weight: bold;
}

.word {
	background-color: #fff;
	/* border: calc(var(--shape-size) * 0.03) solid #ccc; */
	border-radius: calc(var(--shape-size) * 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
}

.word-box {
	height: 80%;
	width: 70%;
	background-image: linear-gradient(
		#39a5eb 25%,
		#39a5eb 25%,
		#257cd0 25%,
		#257cd0 50%,
		#0f5bba 50%,
		#0f5bba 75%,
		#0a3f8f 75%,
		#0a3f8f 100%
	);
	background-repeat: no-repeat;
	border-radius: calc(var(--shape-size) * 0.03);
}

.word-w {
	position: absolute;
	z-index: 2;
	height: 45%;
	width: 45%;
	background-color: #0f5bba;
	border-radius: calc(var(--shape-size) * 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: calc(var(--shape-size) * 0.4);
	box-shadow: calc(var(--shape-size) * 0.01) calc(var(--shape-size) * 0.02)
		calc(var(--shape-size) * 0.07) calc(var(--shape-size) * 0.02)
		rgba(0, 0, 0, 0.571);
	left: 0;
	font-family: sans-serif;
	font-weight: bold;
}

.excel {
	background-color: #fff;
	border-radius: calc(var(--shape-size) * 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
}

.excel-box {
	height: 80%;
	width: 70%;
	background-image: linear-gradient(
		#12a369 25%,
		#12a369 25%,
		#007c44 25%,
		#007c44 50%,
		#125c38 50%,
		#125c38 100%
	);
	background-size: 50%;
	position: relative;
	border-radius: calc(var(--shape-size) * 0.03);
}

.excel-box::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	width: 50%;
	background-image: linear-gradient(
		#25c483 25%,
		#25c483 25%,
		#12a869 25%,
		#12a869 50%,
		#007c44 50%,
		#007c44 75%,
		#125c38 75%,
		#125c38 100%
	);
	border-top-right-radius: calc(var(--shape-size) * 0.03);
	border-bottom-right-radius: calc(var(--shape-size) * 0.03);
}

.xl-x {
	background-color: #007c44;
}

.google-meet {
	background-color: #fff;
}

.green-meet {
	height: 40%;
	width: calc(var(--shape-size) * 0.2);
	background-color: #33a853;
	position: absolute;
	right: 14%;
	bottom: 10.3%;
	border-bottom-right-radius: calc(var(--shape-size) * 0.05);
}

.green-meet::after {
	content: '';
	position: absolute;
	height: 90%;
	width: calc(var(--shape-size) * 0.2);
	background-color: #33a853;
	transform: rotate(90deg);
	bottom: -20%;
	right: 130%;
}

.yellow-meet {
	height: 40%;
	width: calc(var(--shape-size) * 0.2);
	background-color: #fabd07;
	position: absolute;
	right: 14%;
	top: 10%;
	border-top-right-radius: calc(var(--shape-size) * 0.05);
}

.yellow-meet::before {
	content: '';
	position: absolute;
	height: 90%;
	width: calc(var(--shape-size) * 0.2);
	background-color: #fabd07;
	transform: rotate(90deg);
	top: -20%;
	right: 130%;
}

.blue-meet {
	height: 40.3%;
	width: calc(var(--shape-size) * 0.2);
	background-color: #4285f3;
	position: absolute;
	left: 12%;
	top: 30%;
}

.blue-meet::after {
	content: '';
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: #1a67d2;
	top: 98.4%;
	border-bottom-left-radius: calc(var(--shape-size) * 0.05);
}

.blue-meet::before {
	content: '';
	position: absolute;
	height: 52%;
	width: 100%;
	background-image: linear-gradient(-45deg, #ea4436 50%, white 50%);
	top: -52%;
}

.tri-meet {
	border: calc(var(--shape-size) * 0.15) solid transparent;
	border-right: calc(var(--shape-size) * 0.2) solid #11822e;
	position: absolute;
	top: -38%;
	left: -75%;
	z-index: 1;
}

.tri-meet::after {
	content: '';
	position: absolute;
	border: calc(var(--shape-size) * 0.15) solid transparent;
	border-right: calc(var(--shape-size) * 0.2) solid #1bad47;
	height: calc(var(--shape-size) * 0.6);
	top: calc(var(--shape-size) * -0.3);
	left: calc(var(--shape-size) * 0.05);
	border-radius: calc(var(--shape-size) * 0.1);
}

.google-docs {
	background-color: #fff;
}

.yellow-square {
	height: 80%;
	width: calc(var(--shape-size) * 0.5);
	background-color: #fdb800;
	border-top-left-radius: calc(var(--shape-size) * 0.05);
	position: absolute;
}

.yellow-square::before {
	content: '';
	position: absolute;
	z-index: 2;
	background-color: #fff;
	height: 70%;
	width: 50%;
	left: 50%;
	top: 30%;
}

.yellow-square::after {
	content: '';
	position: absolute;
	height: 30%;
	width: 50%;
	background-image: linear-gradient(45deg, #ea4235 50%, #fff 50%);
	left: 100%;
}

.blue-square-docs {
	position: absolute;
	width: 25%;
	height: 55%;
	background-color: #2785fe;
	top: 24%;
	left: calc(var(--shape-size) * 0.49);
}

.blue-square-docs::after {
	content: '';
	position: absolute;
	height: 42%;
	width: 95%;
	background-color: #1066da;
	top: 100%;
	z-index: 3;
	left: 4%;
	border-bottom-right-radius: calc(var(--shape-size) * 0.05);
}

.green-square-docs {
	height: 23%;
	position: absolute;
	width: calc(var(--shape-size) * 0.25);
	background-color: #12832e;
	z-index: 4;
	bottom: -2%;
	border-bottom-left-radius: calc(var(--shape-size) * 0.05);
}

.green-square-docs::after {
	content: '';
	position: absolute;
	height: 100%;
	position: absolute;
	width: calc(var(--shape-size) * 0.25);
	background-color: #1bac48;
	left: 100%;
}

.teams-logo {
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teams-person-1 {
	--height: 55%;
	--bg-color: #7b85ec;
	background-color: var(--bg-color);
	height: var(--height);
	width: 50%;
	border-radius: calc(var(--shape-size) * 0.06) calc(var(--shape-size) * 0.06)
		var(--height) var(--height);
	position: absolute;
	bottom: 2%;
	left: 20%;
	z-index: 2;
}

.teams-person-1::before {
	content: '';
	height: calc(var(--shape-size) * 0.3);
	width: calc(var(--shape-size) * 0.3);
	background-color: var(--bg-color);
	position: absolute;
	border-radius: 50%;
	top: -60%;
	left: 50%;
	transform: translateX(-50%);
}

.teams-person-2 {
	--height: 38%;
	--bg-color: #5058ca;
	background-color: var(--bg-color);
	height: var(--height);
	width: 30%;
	border-radius: calc(var(--shape-size) * 0.06) calc(var(--shape-size) * 0.06)
		calc(var(--height) * 2) calc(var(--height) * 2);
	position: absolute;
	top: 42.9%;
	right: 6.7%;
	z-index: 1;
}

.teams-person-2::before {
	content: '';
	height: calc(var(--shape-size) * 0.2);
	width: calc(var(--shape-size) * 0.2);
	background-color: var(--bg-color);
	position: absolute;
	border-radius: 50%;
	top: -60%;
	left: 50%;
	transform: translateX(-50%);
}

.teams-t {
	z-index: 3;
	background-color: #4a53be;
	top: 30%;
}
